.contact {
	margin-bottom: 15rem;
	text-align: center;
	width: 30%;
}

.contact > p {
	margin-bottom: 50px;
}

.missy {
	width: 20em;
	height: auto;
	margin: 0 auto;
	border-radius: 30px;
	margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
	.contact {
		width: 50%;
	}
}


@media screen and (max-width: 600px) {

	.contact {
		width: 80%;
	}
}