header {
	height: 100vh;
	padding-top: 7rem;
	/* why hidden ?*/
	overflow: hidden;
}

.header__container {
	text-align: center;
	height: 100%;
	position: relative;
}

/* ============== Call to Action CTA =============== */
.cta {
	margin-top: 2.5rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

/* ============== Header Socials =============== */
.header__socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	position: fixed;
	left:0;
	bottom: 0rem;
	margin-left: 3rem;
}

/* creates line after header social icons */
.header__socials::after {
	content: '';
	width: 1px;
	height: 7rem;
	background: var(--color-primary);
}

/* ============== Header Email =============== */
.header__email {
	width: 40px;
	position: fixed;
	bottom: 0px;
	left: auto;
	right: 40px;
	z-index: 10;
}

.header__email-rotate {
	display: flex;
	flex-direction: column;
	-moz-box-align: center;
	align-items: center;
	position: relative;
}

.header__email-rotate a {

letter-spacing: 0.1em;
line-height: var(--fz-lg);
margin: 20px auto;
padding: 10px;
writing-mode: vertical-rl;
}
.header__email-rotate::after {
	content: '';
	width: 1px;
	height: 7rem;
	background: var(--color-primary);
}




/* ============== Header Image =============== */

@media screen and (max-width: 1024px) {
	header {
		height: 68vh;
	}
}

@media screen and (max-width: 600px) {
	header {
		height: 100vh;
	}

	.header__socials,
	.scroll__down {
		display: none;
	}
}
